ion-content{
    --background: linear-gradient(#12c2e9, #c471ed, #f64f59);
    --padding-start:30px;
    --padding-end: 30px;
    --padding-top: 20px;
    --padding-bottom: 20px;
    .header{
        display: flex;
        justify-content: space-between;
        padding: 1rem 0.5rem;

        ion-button{
            height: 60px;
            height: 60px;

            ion-icon{
                font-size: 2rem;
            }
        }
    }
    .card{
        .card-header{
            text-align: center;
            h1{
                color: #fff;
                font-size: 1.4rem;
            }

            p{
                color: #fff;
                font-size: 1rem;
            }
        }
        ion-item{
            --background: transparent !important;
            --padding-start: 0;
    
            ion-label{
                font-weight: 500;
            }
        }
    
        .forgotPass{
            color: #FFF;
            text-transform: uppercase;
            font-weight: 600;
        }
        .action-button{
            margin-top: 2rem;
        }
        ion-button{
            text-transform: uppercase;
            font-weight: 600;
        }
        .text-center{
            text-align: center;
        }
        .btnFlex{
            display: flex;justify-content: space-between;
    
            .btnGoogle{
                --background: rgb(173, 10, 10);
            }
        }
    }
    .logo{
        position: relative;
        height: 20%;

        ion-icon{
            font-size: 9rem;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    
}