ion-item{
    cursor: pointer;
    ion-icon{
        color: #0fccd3;
        font-size: 1.5rem;
    }
    ion-label{
        font-size: 1rem;
        font-weight: 500;
        color: rgb(112, 112, 112);
    }
}